<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLatestVersion</key>
	<true/>
	<key>latestversion</key>
	<string>59</string>
	<key>updatecheck</key>
	<date>2016-05-23T07:01:24Z</date>
</dict>
</plist>
